
$font-family-main: 'Source Sans Pro', 'Helvetica Neue',Helvetica,Arial,sans-serif
$font-size: 16px

// layout
$pageWidth: 960px
$textWidth: 600px
$sidebarWidth: 360px

// main colors
$cB: #008fa9 // blue
$cB-light: #88DBEA
$cB-dark: #0B596C
$cA: #e73300 // red
$cA-light: #FC9279
$cA-dark: #901502
$cC: #ffc900 // yellow
$cC-dark: #C19206
$cD: #a2d112 // green

// neutrals
$cN-dark: #525048
$cN-mid: #9f9c8e
$cN-light: #e2e1dd
$cN-xlight: #DEE2D9
$cN-xxlight: #f9fcf5

// text colors
$cT: #333333
$cT-dark: #000000
$cT-mid: #777777
$cT-light: #aaaaaa
$cT-high: #dddddd
$cT-reverse: #ffffff

// link colors
$c-link: $cB
$c-link-border: lighten($cB, 67%)
$c-link-hover: $cA
$c-link-hover-background: #fff
$c-link-visited: lighten($cB, 20%)
$c-link-visited-border: lighten($cB, 73%)

// development aids
$indicator: rgba(137,223,248,0.2)

// responsive
$bp-midplus: 1100px
$bp-mid: 900px
$bp-small: 600px

